.message{data: {message: {id: message.id}}}
  .message__up-info
    %p.message__up-name
      = message.user.name
    %p.message__up-day
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-text
    - if message.content.present?
      %p.message-text__content
        = message.content
    = image_tag message.image.url, class: 'message-text__image' if message.image.present?